<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>the social network</title>
</head>
<body>
    <h1>Bienvenido a the social network. </h1>
    <ul>
        <li><a href="/users">Usuarios Populares</a></li>
        <li><a href="/posts">Publicaciones Destacadas</a></li>
        <li><a href="/friendships">Amigos</a></li>
    </ul>
</body>
</html>